.main__containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;

}

.box{
    display: flex;
    border: 1px solid grey;
    margin: 0 10%;
    border-radius: 13px;
    box-shadow: 1px 1px 3px 1.5px grey;
    width: 78%;

    img{
        width: 35%;
    }
}

.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;

    h2{
        text-align: start;
        padding-left: 10%;
        font-size: 3rem;
    }

    p{
        padding-left: 10%;
        text-align: justify;
        width: 78%;
        font-size: 1.5em ;
        color: $color-letra;
    }
}

.box-relative{
    border-radius: 13px;
    box-shadow: 1px 1px 3px 1.5px grey;
    background-color: white;
    width: 30%;
    text-align: center;
    position: absolute;
    left: 32%;
}